*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: gray;
}
canvas {
  border: solid 13px rgba(0, 0, 0, 0.4);
  width: 1000px;
  height: 600px;
  /* background-color: gray; */
}
.contain-canvas {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;
}
#speed-container {
  position: absolute;
  width: 100%;
  /* bottom: ; */
  color: white;
  font-weight: bold;
}
input {
  width: 100%;
}
#points-container {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  padding: 10px;
  color: white;
  font-size: large;
  font-weight: bold;
}
.div-center {
  display: none;

  background-color: rgba(186, 186, 186, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
  height: 100%;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.popupmenu {
  background-color: rgba(237, 129, 46, 0.631);
  border: 1px solid white;
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: rgba(237, 129, 46, 0.631); */
}
button {
  margin-top: 10px;
  background-color: rgb(75, 97, 97);
  color: white;
  font-weight: bold;
  width: 100%;
  height: 50px;
  border: none;
  box-shadow: none;
  border-radius: 10px;
}

#last-result {
  color: rgb(255, 255, 255);
  font-weight: bold;
}
#heart-img {
  position: absolute;
  top: 6%;
  left: 10%;
}
